body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.about-section {
  padding: 3%;
  display: flex;
}

.about-head {
  padding-left: 5%;
  padding-right: 5%;
}

.about-photo {
  width: 650px;
  height: 400px;
}

.logo-section {
  font-size: 18px;
  padding: 2%;
  display: flex;
}

.logo-section > div {
  width: 50em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
}
