* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NavBar */
.navBar-top {
  padding: 20px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-size: 18px;
}
.navBar ul {  
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  border-bottom: 2px solid black;
}
.navBar-top ul a {
  color: #02acb8;
}
.navBar-top ul a:hover {
  border-bottom: 2px solid #02acb8;
}
.navBar-top ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navBar-bottom {
  margin: 30px 0;
  font-size: 18px;
}
.navBar-bottom ul{
  justify-content: space-around;
}
.navBar-bottom ul li {
  width: 100px;
  text-align: center;
}

/* LOGIN */
.login {
  width: 480px;
  height: 440px;
  margin: 60px auto 0;
  padding: 40px 0;
  border-radius: 3px;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.5);
}

.login h3 {
  color: #02acb8;
  text-align: center;
}

.login form {
  width: 100%;
  height: 80%;
  padding: 0 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.login form input {
  height: 40px;
  padding: 0 30px;
  border-radius: 3px;
  font-size: 16px;
}

.login form input[type="submit"] {
  margin-top: 40px;
  background-color: #02acb8;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

/* contact*/
.text{
  width: 50%;
  background-color: white;
  float: left;
  align-items: flex-start;
  color: brown;
  font-size: 20px;
}
.text span{
  color:#02acb8;
}
.contact_form{
  width: 50%;
  float: right;
  align-items: center;
  background-color: white;
  color: #02acb8;
}
.contact_form input {
  width: 90%;
  height: 40px;
  background: lightgray;
  color: black;
  font-size: 20px;
}
.contact_form button{
  width: 20%;
  height: 8vh;
  color:black;
  font-size: 20px;
  background-color: #02acb8;
}
.text2{
  color: black;
}
.footer{
  background: black;
  font-size: 20px;
  width: 100%;
  padding: 2%;
  padding-left: 35%;
  justify-content: center;
}
.footer p{
  align-items: center;
  color: white;
}

h2, h3 {
  color: brown;
}

p {
  color:darkslategrey;
}

/* Header */
.header {
  width: 100%;
  height: 78vh;
  object-fit: cover;
}

/* Logo Section Below Header*/
.logo-section {
  font-size: 18px;
  padding: 2%;
  display: flex;
}

.logo-section > div {
  width: 50em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
}

/* About Us Section */
.about-section {
  padding: 3%;
  display: flex;
}

.about-head {
  padding-left: 5%;
  padding-right: 5%;
}

.about-photo {
  width: 650px;
  height: 400px;
}